<h1>Listing empleados</h1>

<table>
  <tr>
    <th>Paterno</th>
    <th>Materno</th>
    <th>Nombre</th>
    <th>Telefono</th>
    <th>Correo</th>
    <th>Puesto</th>
  </tr>

<% @empleados.each do |empleado| %>
  <tr>
    <td><%=h empleado.paterno %></td>
    <td><%=h empleado.materno %></td>
    <td><%=h empleado.nombre %></td>
    <td><%=h empleado.telefono %></td>
    <td><%=h empleado.correo %></td>
    <td><%=h empleado.puesto_id %></td>
    <td><%= link_to 'Show', empleado %></td>
    <td><%= link_to 'Edit', edit_empleado_path(empleado) %></td>
    <td><%= link_to 'Destroy', empleado, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New empleado', new_empleado_path %>