<h1>New puesto</h1>

<% form_for(@puesto) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :puesto %><br />
    <%= f.text_field :puesto %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', puestos_path %>